.children {
  max-width: 1192px;
  width: 100%;
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 156px auto;
  background-image: url("../images/star.svg"), url("../images/aerostat.svg");
  background-repeat: no-repeat;
  background-size: 63px 52px, 160px 213px;
  background-position: 115px 31px, right 34px;
  overflow: hidden;
}

.children__subtitle {
  max-width: 709px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101530;
  margin-bottom: 48px;
}
.children__swiper {
  max-width: 1192px;
  width: 100%;
  margin: 0 0 0 auto;
  padding: 32px 0;
  overflow: visible;
}
.children__cloud {
  width: 173px;
  height: 118px;
  background-image: url("../images/cloud.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.children__bear {
  width: 157px;
  height: 181px;
  background-image: url("../images/bear.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: -95px;
  right: 60px;
  z-index: 2;
}
.children__flower {
  width: 86px;
  height: 84px;
  background-image: url("../images/flower.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: 50%;
  right: 50%;
}

.children__cloud-mob {
  width: 89px;
  height: 50px;
  background-image: url("../images/cloud.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}
.children__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.children__card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.children__image-wrp {
  max-width: 492px;
  width: 100%;
}
.children__name-cntr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #101530;
}
.children__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #101530;
}
.children__span {
  font-weight: 600;
}

.children__button {
  width: 100%;
  padding: 16px 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}
.children__button:hover {
  opacity: 0.6;
}
.button__green {
  background: #3fca82;
}
.button__red {
  background: #f04047;
}
.button__orange {
  background: #e7b526;
}
.button__blue {
  background: #57b4f7;
}

.children__control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
}
.children .swiper {
}

.children .swiper-wrapper {
  align-items: stretch;
}
.children .swiper-slide {
  height: auto;
}
.children .swiper-pagination {
  position: relative;
}
.children .swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 2px solid #57b4f7;
  opacity: 1;
}
.children .swiper-pagination-bullet-active {
  background: #57b4f7;
}

.children__navigation {
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}
.children__navigation:hover {
  opacity: 0.6;
}
.children__next {
  background-image: url(../images/icons/chevron_next.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
.children__next.swiper-button-disabled {
  background-image: url(../images/icons/chevron_next_disable.svg);
}
.children__prev {
  background-image: url(../images/icons/chevron_prev.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
.children__prev.swiper-button-disabled {
  background-image: url(../images/icons/chevron_prev_disable.svg);
}
.children .swiper-pagination-current {
  font-family: "Amatic", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  text-transform: uppercase;
  color: #101530;
}

@media screen and (max-width: 1080px) {
  .children {
    max-width: 744px;
    margin: 0 auto;
    background-size: 63px 52px, 116px 148px;
    background-position: 115px 0px, 100% 96%;
  }
  .children__subtitle {
    max-width: 664px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 28px;
  }
  .children__swiper {
    max-width: 744px;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 66px;
  }
  .children__cloud {
    width: 212px;
    height: 118px;
  }
  .children__bear {
    display: none;
  }
  .children__card {
    padding: 24px;
  }
  .children__image-wrp {
    max-width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .children {
    padding: 40px 24px 0 24px;
    margin-bottom: 24px;
    background: none;
    position: relative;
  }
  .children__subtitle {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .children__swiper {
    padding: 0;
    margin: 0 0 16px 0;
  }
  .children__cloud {
    display: none;
  }
  .children__cloud-mob {
    display: block;
  }
  .children__card {
    padding: 0;
    gap: 8px;
    box-shadow: none;
  }
  .children__card-content {
    gap: 8px;
  }
  .children__name-cntr {
    font-size: 20px;
    line-height: 24px;
  }
  .children__description {
    font-size: 14px;
    line-height: 18px;
  }
  .children__button {
    padding: 12px 24px;
    font-size: 20px;
    line-height: 24px;
  }
  .children .swiper-wrapper {
    align-items: flex-end;
  }
  .children .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
  }
  .children__navigation {
    width: 44px;
    height: 44px;
  }
}
