.fears {
  max-width: 1192px;
  width: 100%;
  padding-top: 88px;
  margin: 0 0 0 auto;
}
.fears__swiper {
  max-width: 1192px;
  width: 100%;
  margin: 0 0 0 auto;
}
.fears__card {
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 24px;
  justify-content: space-between;
}
.fears__card-content {
  display: flex;
  margin-bottom: 24px;
}
.fears__card-title {
  font-family: 'Amatic', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  text-transform: uppercase;
  color: #101530;
  text-shadow: 4px 4px 5.1px rgba(255, 124, 80, 0.38);
  margin: 0 0 24px 0;
}
.fears__card-text-wrp {
  /* max-width: 506px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fears__text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #414149;
  margin-bottom: 8px;
}
.fears__span {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #414149;
}

.fears__image-wrp {
  max-width: 420px;
  width: 100%;
}

.fears__button {
  background-color: transparent;
  padding: 16px 24px;
  border-radius: 4px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
}
.fears__button:hover {
  opacity: 0.6;
}

.darkness__button {
  background: #e7b526;
}
.violence__button {
  background: #57b4f7;
}
.betrayal__button {
  background: #f04047;
}

.loneliness__button {
  background: #3fca82;
}

.fears__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  margin: 0 auto;
}
.fears .swiper {
  min-height: 640px;
  margin-bottom: 8px;
}

.fears .swiper-wrapper {
  align-items: stretch;
}
.fears .swiper-slide {
  height: auto;
}
.fears .swiper-pagination {
  position: relative;
}

.fears__navigation {
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}
.fears__navigation:hover {
  opacity: 0.6;
}
.fears__next {
  background-image: url(../images/icons/chevron_next.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
.fears__next.swiper-button-disabled {
  background-image: url(../images/icons/chevron_next_disable.svg);
}
.fears__prev {
  background-image: url(../images/icons/chevron_prev.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
.fears__prev.swiper-button-disabled {
  background-image: url(../images/icons/chevron_prev_disable.svg);
}

.fears .swiper-pagination-current {
  font-family: 'Amatic', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  text-transform: uppercase;
  color: #101530;
}

.fears__progressbar {
  margin-bottom: 12px;
}

@media screen and (max-width: 1080px) {
  .fears {
    max-width: 744px;
    padding-top: 128px;
    margin: 0 auto;
  }
  .fears__swiper {
    max-width: 744px;
    margin: 0 auto;
  }
  .fears__card {
    padding: 16px;
  }
  .fears__card-content {
    margin-bottom: 16px;
    align-items: center;
  }
  .fears__card-title {
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  .fears__text {
    font-size: 16px;
    line-height: 20px;
  }
  .fears__span {
    font-size: 16px;
    line-height: 20px;
  }
  .fears__image-wrp {
    max-width: 216px;
  }
  .fears__button {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 24px;
  }
  .fears .swiper {
    min-height: 524px;
  }
  .fears .swiper-pagination-current {
    font-size: 44px;
    line-height: 48px;
  }
}

@media screen and (max-width: 650px) {
  .fears {
    max-width: 375px;
    padding-top: 8px;
    margin: 0 auto;
  }
  .fears__swiper {
    max-width: 375px;
    margin: 0 auto;
  }
  .fears__card {
    box-shadow: none;
  }
  .fears__card-content {
    flex-direction: column-reverse;
    gap: 8px;
  }
  .fears__card-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 8px;
  }
  .fears__text {
    font-size: 15px;
    line-height: 20px;
  }
  .fears__span {
    font-size: 15px;
    line-height: 19px;
  }
  .fears__image-wrp {
    max-width: 343px;
  }
  .fears .swiper {
    min-height: 667px;
  }
  .fears .swiper-pagination-current {
    font-size: 32px;
    line-height: 38px;
  }
  .fears__navigation {
    width: 48px;
    height: 48px;
  }
}
