.intro {
  position: relative;
  width: 100%;
  min-height: 710px;
  background-image: url(../images/main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.intro__main {
  max-width: 1104px;
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: center;
  /* align-items: center; */
}
.header {
  position: relative;
  max-width: 1104px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo {
  width: 96px;
}

.header__nav-cntr {
  display: flex;
  gap: 56px;
  align-items: center;
}
.header__nav-cntr-mob {
}
.header__burger {
  display: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: 0.3s;
  background: transparent;
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__burger:hover {
  opacity: 0.6;
}
.header__menu-mob {
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 4;
  background-color: #ffffff;
  padding: 0 24px 24px 24px;
}
.header__menu-mob_visible {
  opacity: 1;
  visibility: visible;
}
.header__menu-mob-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.header__menu-close {
  width: 44px;
  height: 44px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.header__menu-close:hover {
  opacity: 0.6;
}
.header__nav-mob {
  margin-bottom: 16px;
}
.header__nav-list-mob {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Amatic", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #101530;
}
.header__nav-link-mob {
  text-decoration: underline;
  transition: 0.3s;
}
.header__nav-link-mob:hover {
  opacity: 0.6;
}

.header__social-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #414149;
  margin-bottom: 8px;
}

.header__nav-list {
  display: flex;
  gap: 56px;
  font-family: "Amatic", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #101530;
}

.header__nav-link {
  text-decoration: underline;
  transition: 0.3s;
}
.header__nav-link:hover {
  opacity: 0.6;
}

.header__social-link {
  transition: 0.3s;
}

.header__social-link:hover {
  opacity: 0.6;
}

.header__social-cntr {
  display: flex;
  gap: 32px;
}
.header_icon {
  width: 56px;
}

.intro__content {
  position: relative;
  border-radius: 8px;
  width: 100%;

  padding: 0 46px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: rgba(255, 255, 255, 0.15);
  /* margin: auto auto 106px auto; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.intro__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12.5px);
  z-index: 1;
}
.intro__title {
  position: relative;
  z-index: 2;
  font-family: "Amatic", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 106%;
  color: #101530;
}
.intro__text {
  position: relative;
  z-index: 2;
  max-width: 490px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #414149;
}

.intro__blob {
  position: relative;
  z-index: 2;
  max-width: 97px;
  position: absolute;
  bottom: 0;
  left: 102px;
}
.intro__sh {
  position: relative;
  z-index: 2;
  max-width: 250px;
  position: absolute;
  bottom: 0;
  right: 19px;
}
.intro__form {
  background-color: #fff;
  padding: 24px;
  /* position: relative;
  z-index: 2;
  border-radius: 8px;
  padding: 24px;
  max-width: 352px;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  margin: auto 0 106px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); */
}
.intro__form fieldset,
input,
button {
  position: relative;
  z-index: 2;
}
/* .intro__form::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12.5px);
  z-index: 1;
} */

.intro__input {
  border: 2px solid #57b4f7;
}
.other-sum__input {
  margin-bottom: 4px;
}
.intro__submit {
  background: #57b4f7;
}
.intro .donations__span-visible {
  width: 100%;
  padding: 10px 11px;
  border-radius: 8px;
  border: 2px solid #57b4f7;
  background: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #57b4f7;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}

.intro .donation__input-sum:checked + .donations__span-visible {
  color: #ffffff;
  background: #57b4f7;
}

@media screen and (max-width: 1080px) {
  .intro {
    min-height: 544px;
  }
  .intro__main {
    gap: 16px;
    max-width: 644px;
  }
  .header {
    max-width: 644px;
  }
  .logo {
    width: 56px;
  }
  .header__nav-cntr {
    gap: 24px;
  }
  .header__nav-list {
    font-size: 24px;
    gap: 24px;
  }
  .header__social-cntr {
    gap: 16px;
  }
  .header_icon {
    width: 44px;
  }
  .intro__content {
    max-width: 405px;
    height: auto;
    gap: 16px;
    padding: 0 16px;
    /* margin: 0 0 32px 0; */
  }
  .intro__title {
    font-size: 64px;
  }
  .intro__text {
    max-width: 373px;
    font-size: 16px;
  }
  .intro__blob {
    display: none;
  }
  .intro__sh {
    position: relative;
    margin: auto auto 0 auto;
    right: auto;
  }
  .intro__form {
    padding: 16px;
    margin: 0 0 32px 0;
  }
  .intro .donations__span-visible {
    padding: 8px 11px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 650px) {
  .intro {
    /* min-height: 747px; */
    background-image: none;
  }
  .intro__main {
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
    background-image: url(../images/main_mob.png);
    background-size: contain;
    background-repeat: repeat-y;
  }
  .header {
    max-width: 327px;
    padding: 0;
    margin-bottom: 10px;
    /* background-color: #ffffff; */
  }
  .header__nav-cntr {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .intro__content {
    max-width: 327px;
    margin: auto;
  }
  .intro__form {
    max-width: 327px;
    margin: auto;
  }
  .intro__title {
    font-size: 56px;
    line-height: 60px;
  }

  .intro__text {
    font-size: 14px;
    line-height: 18px;
  }
}
