* {
  box-sizing: border-box;
}
.page {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.content {
}

.text {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  border: none;
  padding: 0;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.image {
  width: 100%;

  object-fit: contain;
  object-position: center;
}
.link {
  color: #000000;
  text-decoration: none;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fieldset__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #414149;
}

.submit {
  padding: 16px 24px;
  border-radius: 4px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.6;
}

.donations__quantity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 4px;
}

.donations__span-visible:hover {
  opacity: 0.6;
}

.donation__input-sum {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  clip-path: inset(0 0 0 0);
}

@media screen and (max-width: 1080px) {
  .fieldset__info {
    gap: 8px;
  }
  .input {
    padding: 8px 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .donations__quantity {
    margin-bottom: -4px;
  }
  .submit {
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 20px;
    line-height: 24px;
  }
}
